<div class="post-main">

    <% if (is_post()) { %>
    
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
            <% if (theme.busuanzi && theme.busuanzi.enable && !index){ %>
                 <!-- 不蒜子统计 -->
                阅读数：<span id="busuanzi_value_page_pv"></span>次
            <% } %>
        </div>
        <div class="post-md">
            <%- page.content %>
        </div>

    <% } else { %>

        <div class="post-md">
            <%- page.content %>
        </div>

    <% } %>

</div>